
li {
  float: center;
}

.container {
	display: grid;
  	justify-content: space-evenly;  
	grid-template-columns: 50px 50px 50px 50px;
  	grid-template-rows: auto;
	
}

.content {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
}


a{
	text-decoration: none;
	font-size:20px;
	padding: 18px;
	color:white;
}

a:hover{
		background: #284472
}

.navbar{
		background: #dba4d3;
}

.navlist{
	display: inline-flex;
	list-style-type: none;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}
