body{
  background-color: white;
  margin:20px;
  padding:0;
  text-align:center;
  color: #b56791;
  font-family: monospace, sans-serif;
  font-size: 14px;
}

h2{
  font-family: Georgia, serif;
  font-size: 30px;
  color: #e5ceed;
}

.main{
  position: relative;
  height: 50%;
  width: 50%;
}

a{
  text-decoration: none;
  font-size:20px;
  padding: 18px;
  color:white;
}

a:hover{
    background: #284472
}

.navbar{
    background: #dba4d3;
}

.navlist{
  display: inline-flex;
  list-style-type: none;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}
