body{
		margin: 0;
}

a{
	text-decoration: none;
	font-size:20px;
	padding: 18px;
	color:white;
}

li {
  float: center;
}


.container {
    width: 200px;
    height: 120px;
}

/* Resize images */
.container img {
    width: 100%;
    height: auto;
}

.portfolio {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.portfolio .our-work>div img {
  width: 70%;
  margin: 5px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 10px 10px #ccc;
}

.portfolio .our-work {
  overflow: hidden;
}

a:hover{
		background: #284472
}

.navbar{
		background: #dba4d3;
}

.navlist{
	display: inline-flex;
	list-style-type: none;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}
